.agenda-item {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background-color: grey;
  border: solid;
}

.agenda-item .time-location {
  flex: 0.5;
  padding: 15px;
  justify-content: flex-start;
  border-right: solid;
}

.agenda-item p {
  text-align: left;
}

.agenda-item .task-details-actions {
  flex: 1;
}

.agenda-item .task-details {
  padding: 15px;
  justify-content: flex-start;
}

.agenda-item .task-actions-container {
  padding: 15px;
  border-top: solid;
}